/* (c) 2019, ТяФ/ка (tyafffka)
 * 
 * Данное программное обеспечение предоставляется "как есть", без каких-либо
 * явных или подразумеваемых гарантий. В любых случаях его автор(ы) снимает(ют)
 * с себя ответственность за любой ущерб, связанный с использованием данного
 * программного обеспечения.
 * 
 * Данное программное обеспечение разрешается использовать кому угодно и в любых
 * целях, включая его коммерческое применение, а также изменять и распространять
 * его свободно при условии соблюдения следующих ограничений:
 * 
 * 1. Происхождение данного программного обеспечения не должно быть искажено; Вы
 *    не в праве утверждать, что это Вы написали оригинальное программное
 *    обеспечение. Если Вы используете данное программное обеспечение в своём
 *    продукте, то упоминание об этом в документации проекта было бы
 *    признательно, но не обязательно.
 * 
 * 2. Изменённые версии исходных файлов должны быть явно обозначены как таковые
 *    и не должны выдаваться за оригинальное программное обеспечение.
 * 
 * 3. Данное уведомление о лицензии не должно убираться или изменяться при любом
 *    распространении исходных текстов. */

body
{
    min-width: max-content;
    max-width: 950px;
    margin: 0 auto;
    line-height: 1;
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    background: white;
}

button
{
    padding: 4px 8px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#game_header
{
    display: block;
    min-width: max-content;
    margin: 0;
    padding: 12px 36px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background: #3E5B76; /*#3E5B76*/
    user-select: none;
}

#header_sub_line
{
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    height: 4px;
    background: #CCC;
}

#toolbar
{
    display: block;
    min-width: max-content;
    margin: 0;
    padding: 12px;
    background: #628DB6;
    /*text-align: right;*/
    user-select: none;
}

#toolbar > *
{
    margin: 0 6px;
    cursor: pointer;
}

#toolbar > a
{
    font-weight: bold;
    color: white;
}

/* --- *** --- */

#main_layout
{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 12px;
}

#editor_layout
{
    display: inline-flex;
    flex-direction: row;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    border-top: 2px solid #AAA;
    border-bottom: 2px solid #AAA;
}

#editor_line_numbers
{
    display: inline-block;
    margin: 0;
    padding: 6px 12px;
    line-height: 1.25;
    font-family: monospace;
    font-size: 18px;
    text-align: right;
    color: #444;
    background: #BAD5EF;
    user-select: none;
}

#editor
{
    display: inline-block;
    flex-grow: 1;
    margin: 0;
    padding: 6px;
    border: none;
    outline: none;
    line-height: 1.25;
    font-family: monospace;
    font-size: 18px;
    resize: none;
    color: #333;
}

#output_layout
{
    display: inline-block;
    width: min-content;
    height: min-content;
    margin: 12px;
    margin-right: 0;
    padding: 0;
}

#output_canvas
{
    background: #BAD5EF;
}

#complete_note
{
    margin-top: 8px;
    max-width: 100%;
    text-align: center;
    color: darkgreen;
}

#error_note
{
    margin-top: 8px;
    max-width: 100%;
    color: #A00;
}

/* --- *** --- */

#help_topic
{
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 12px;
}

#help_topic > p
{
    max-width: fit-content;
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    text-align: justify;
    line-height: 1.5;
}

#help_topic > p > img
{
    vertical-align: middle;
}

#help_topic > p > code
{
    padding: 2px;
    border: 1px solid lightgray;
    border-radius: 2px;
    font-family: monospace;
    font-size: 15px;
    /*color: #004700;*/
    background: #EEE;
}
